body {
  background-image: url(./2duo/téléchargement.png);
  background-size: cover;
  width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

header {
  height: 90px;
  background: #2f3640;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.inner-width {
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.logo {
  float: left;
  padding: 10px 0;
}

.logo img {
  margin-left: 0%;
  height: 70px;
}

.navigation-menu {
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.navigation-menu a {
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: 0.3s linear;
}

.navigation-menu a:hover {
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
}

.navigation-menu i {
  margin-right: 8px;
  font-size: 16px;
}

.home {
  color: #ff6b6b;
}

.about {
  color: #0abde3;
}

.works {
  color: #feca57;
}

.team {
  color: #5f27cd;
}

.contact {
  color: #1dd1a1;
}

.menu-toggle-btn {
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}
#demo {
  height: 400px;
  width: 100%;
}

.container {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
